* {
    box-sizing: border-box;
    margin: 0;  
    padding: 0;
}


body{
    width: 70%;
    margin: auto;

}



header {
    background-image: url(./asset/pizza_bcg.jpeg);
    min-height: 700px;
}



/*------------------------------------------------NAV----------------------------------------*/



.nav_container {
    display: flex;
    justify-content: space-between;

}

.navbar {
    margin-right: 6em;
    margin-top: 2em;
   
}

.navbar li {
    font-size: 2em;
    text-transform: capitalize;
    margin-right: 1em;

}




.navbar {
    height: auto;
    background-color: transparent;
    position: relative;
    



}

.nav_item :hover {
    color: black;
}

.navbar:focus {
    color: black
}

.nav_menu {
    display: flex;
    text-align: center;
    justify-content: flex-start;
    margin-left: 20px;
    padding: 15px;


}


.nav_item {
    padding: 10px;
    list-style: none;
    text-transform: uppercase;

}

a {
    text-decoration: none;
    color: white;
}

/*--------------------------------------------------END NAV------------------------------------------*/


/*------------------------------------------------LOGO-------------------------------------------*/



.logo {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 300px;
    background-color: orange;
    color: white;
    height: 65px;
    margin-top: 2em;
    
}

.logo h3 {
    
    color: white;
    font-size: 2em;
    margin-right: 1em;
    margin-bottom: 0.5em;
    min-height: fit-content;

}







/*--------------------------------------------END LOGO------------------------------------------*/



/*-------------------------------------------BANNER AND TITLE------------------------------*/

.banner_group {
    display:flex;
    flex-wrap: wrap;
  

}


.banner {
    width: 100%;
    height: 150px;
    background-color: orange;
    margin-top: 150px
}

.title {
    width:100%;
    
    color: white;
    position:relative

}

.title .bloc1 p {
    font-size: 100px;
}

.title .bloc1 .grand {
    text-transform: uppercase;

}

.title .bloc1 {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: -140px;
    left: 150px;
}

.openning {
    position: absolute;
    top: 70px;
}

.subtitle {
    display: flex;
    justify-content: end;
    border: 3px solid white;
    width: 270px;
    position: absolute;
    right: 250px;
    top: -35px;
    text-transform: capitalize;
    background-color: orange;

}

.subtitle h2 {
    
     padding-top: 10px; 
     padding-bottom: 10px;
    font-size: 40px;
    margin-right: 20px;

}

/*---------------------------------------------END BANNER TITLE----------------------------------------*/


/*----------------------------------------------WHAT NEW SECTION------------------------------*/

.container_news {
    background-color:rgb(58, 56, 56);
    min-height: 500px;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;

}

.news {
    color: white;
  

}

.pizza_img{
    background-image: url(./asset/pizza_moit2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left 70%;
    width: 600px;
    height: 400px;
    position: relative;
    z-index:1;
   
}

.rectangle {
    width:700px;
    height:150px;
    background-color: orange;
    position: absolute;
    right: 750px;
    z-index: 2;
    
}

.what {
    height: 400px;
    font-size: 25px;
    position: absolute;
    right: 850px;
    z-index: 3;
    /* padding-bottom: 0.5em; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;


}

.what h2 {

    font-weight: bolder;
    
   
}




   

.lorem {
    height:300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    padding-top: 15px;
    
    
}

.lorem .border {
    border-left: 2px solid white; 
    
    padding-left: 1em;
}

 

aside {
  height: 500px;
  width: 200px;
  background-color: transparent;
  z-index: 4;
  margin-left:50px ;
  font-size: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 
  
}
aside p {
    font-size: 1.3em;
    writing-mode:vertical-rl;
    transform: rotate(180deg);
    
}

/*----------------------------------------------------END WHAT NEW SECTION------------------------------------------*/




/*---------------------------------------------------- | || ||| section-------------------------------------------*/


.pizza_title, .master_title, .master_new {
    display: flex;
    flex-direction: column;


}
 






.stick {
    min-height: 350px;
    display:flex;
    justify-content: space-around;
    align-items: center;

}

.format, .master, .pizza{
    width: 20%;
    height: 200px;
    text-align: justify;
    display: flex;
   
    justify-content:space-around;
} 

.stick h2 {
    color:orange;
    font-size: 2em;
    margin-left: 10px;
    
  
}

.bat_one, .bat_two, .bat_three {
    width: 60px;
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    

}

.two:nth-child(2) {
    margin-right: 6px;
}

.one, .two, .three {

    height:25px;
    width:5px;
    background-color: orange;


}

.one {
    margin-left: 20px;
    object-fit: contain;
}

